body{
    background-color:#57C512;
    background-image:url(../images/fond1.jpg);
    padding:0;
    margin:0;
    color:white;
}

header, footer{
    background-color:#3F9808;
    padding:15px;
    background-image:url(../images/fond2.jpg);
    padding:10px;
    width:100%;
}

header h1{
    color:black;
}

ul li{
    list-style-type:none;
}

h3{
    color:white;
}

main{
    width:90%;
    margin:auto;
}

p{
    text-align:justify;
}

.conteneur{
    margin:15px;
    padding:10px;
}

.entete{
    width:30%;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
}

.image{
    width:20%;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
}

header .image img{
    width:50%;
}

.colonne{
    width:30%;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
}

iframe{
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
}